{% load my_tags %}<!DOCTYPE html>
<html>
    <head>
        <title>little pony</title>
        <link rel="stylesheet" href="{{MEDIA_URL}}builtin/css/reset.css" type="text/css"/>
        <link rel="stylesheet" href="{{MEDIA_URL}}builtin/css/grids.css" type="text/css"/>
        <link rel="stylesheet" href="{{MEDIA_URL}}builtin/css/style.css" type="text/css"/>
    </head>
    <body>
        <div class="main container_12">
            <h1 class="logo">Littlepony</h1>
            <table class="panel">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>Description</th>
                        <th>Valid</th>
                    </tr>
                </thead>
                <tbody>
                {% for example in urlexamples %}
                    <tr class="entry">
                        <td><div class="hole">{% if example.url != '' %}<a href="{{example.url}}">{{example.url}}</a>{% endif %}</div></td>
                        <td><div class="hole"><a href="{{example.url}}">{{example.description}}</a></div></td>
                        <td class="valid"><div class="validation validation-valid">valid</div>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr><td colspan="2"></td></tr>
                </tfoot>
            </table>
        </div>
    </body>
</html>