/* main bg: 41584e */
body{color:#000;background-color:#fff;height:100%;} /* darker: 20342f */
body, pre{font-size: 13px;line-height:1.5em;font-family: "HelveticaNeue-Light", 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif;font-weight:300;}
a, a:hover, a:visited{color:#425AAA;text-decoration:underline;}

h1{font-size:3em;color:#000;margin-bottom:40px;}
h3{font-size:2.5em;color:#000;margin-bottom:20px;}
h4{font-size:1.7em;color:#000;margin-bottom:20px;font-weight:normal;}
.clear{clear:both;font-size:0;text-indent:-3000px;}

p{margin-bottom:10px;}
strong{font-weight:bold;}

.logo{display:block;text-indent:-5000px;width:314px;height:124px;margin:20px 0 20px 0;}
.logo{background:url('/media/builtin/images/logo.png') 0 0 no-repeat;}

.main{position:relative;}

.panel{background-color:#353537;color:#fff;width:100%;}
.panel a{color:#fff;}
.panel{-webkit-border-radius:10px;-moz-border-radius:10px;}
.panel{-webkit-box-shadow: 0 0 px #242424;}
.panel td, .panel th{padding:10px;text-align:left;}
.panel tr.entry{/*363636, 222424*/
background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(54, 54, 54)), to(rgb(46, 46, 46))); background-repeat: initial; background-attachment: initial; -webkit-background-clip: initial; -webkit-background-origin: initial; background-color: initial; background-position: initial initial;
background-image: -moz-linear-gradient(top, rgb(54,54,54), rgb(46,46,46));}
.panel thead tr{border-bottom:1px solid #413F3F;}
.panel tr.entry{border-top:1px solid #413F3F;}

.hole{
    padding:5px 10px;
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(35, 35, 35)), to(rgb(46, 46, 46))); background-repeat: initial; background-attachment: initial; -webkit-background-clip: initial; -webkit-background-origin: initial; background-color: initial; background-position: initial initial;
    background-image: -moz-linear-gradient(top, rgb(30,30,30), rgb(46,46,46));
}

td.controls{width:1px;}
.button{
background: #222 url(/media/builtin/images/go-button.png) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
text-decoration: none;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0px 0px 5px #555;
-webkit-box-shadow: 0px 0px 5px #555;
text-shadow: 0 -1px 1px #222;
xborder-bottom: 1px solid #222;
position: relative;
cursor: pointer;
}

a.button{text-decoration:none;}
.goto-button{border:1px solid #363636;text-shadow:0 -1px 1px #354d86;}

.footer{padding:10px 0;margin-top:40px;text-align:right;font-size:11px;border-top:1px dashed #363636;}
.footer .marcel{display:inline-block;width:100px;height:21px;background:url(/media/builtin/images/marcel.png) 0 0 no-repeat;position:relative;top:7px;margin-left:15px;right:5px;}
.footer .marcel span{display:none;}